@import '../../const.scss';


.articles {
    margin-right: 30px;

    width: max-content;
    display: flex;
    flex-direction: column;
    height: max-content;
    text-decoration: none;

    &__sourse {
        color: $black;
        font-weight: bold;
        padding-bottom: 5px;
        text-decoration: underline;
    }
    &__text {
        color: $black;
    }

    &_hidden {
        display: none;
    }

    &:hover {
        color: $black;
        text-decoration: underline;
    }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}