@import '../../const.scss';

.news {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: left;

    overflow: hidden;

    &__wrap {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;

        height: max-content;

        // animation: marquee 200s linear;
        transform: translateX(100px);

        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes marquee {
    from { transform: translateX(100px) }
    to { transform: translateX(-100%) }
}

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}